<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Edit Recipe</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
  <form [formGroup]="recipeForm" (ngSubmit)="updateRecipeForm()" #resetRecipeForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Recipe name" formControlName="recipe_name">
          <mat-error *ngIf="handleError('recipe_name', 'required')">
            You must provide a<strong>recipe name</strong>
          </mat-error>
        </mat-form-field>

        <!-- Recipe description -->
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Method" formControlName="recipe_description" appearance="fill"></textarea>
          <mat-error *ngIf="handleError('recipe_description', 'required')">
            You must provide a recipe method
          </mat-error>
        </mat-form-field>


      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Add Ingredients -->
        <mat-form-field class="multiple-items">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let subjectArray of subjectArray" [selectable]="selectable" [removable]="removable"
              (removed)="remove(subjectArray)">
              {{subjectArray.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add Ingredients" [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <i class="material-icons tooltip-info" matTooltip="Enter ingredient and press enter to add ingredients">
            info
          </i>
        </mat-form-field>

      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Update</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>